body {
    background-color: Pink;
    text-decoration: none;
    text-align: center;

}

/*webpage title*/
h1{
    font-size: 40px;
    font-family: Arial;
    text-align: center;
    color: #f1917d;
}

HR{
    width: 95%;
    color: #f1917d;
}

#tittle {
    font-size: 20px;
    font-family: arial;
    text-align: center;
    color: #708090;
}

/*List title*/
h2{
    font-size: 30px;
    font-family: arial;
    text-align: center;
    color: #f1917d;
}
/*title*/
h3{
    font-size: 20px;
    font-family: arial;
    text-align: center;
    color: #f1917d;
}

table{
    text-decoration: none;
    text-align: center;
    margin-left: 250px;
    font-size: 20px;
    font-family: arial;
    color: #03c6c6;
}

footer{
    border-top: 1px solid #000000;
    padding-top: 15px;
    text-align: center;
}

a:hover,a:visited{color: #ec7a7a;}
